{% load static %}
{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

<script src="{% static 'js/theme.js' %}"></script>

<a href="{% url 'login' %}">Login</a> {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <meta charset="UTF-8" />
  <title>Chandran  Login</title>
 
</head>
<body>
 <div class="login-container">
    <h2>Login</h2>
    
    {% if error %}
      <div class="login-error">{{ error }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <div class="register-link">
        Don't have an account <a href="{% url 'register' %}">Register</a>
    </div> 
    
</div>


</body>
</html>
